h1{
    font-family: 'Rampart One', cursive;
    font-size: 50px;
    color: cornsilk;
    text-align: center;
    background-color: darkblue;
    padding: 70px;
}
h6{
    color: darkblue;
  
}


hr{

    border: 1px solid darkblue;
}

.container1{
    padding-left: 60px;
}

.form{
    
    border-bottom: 1px solid darkblue;
    padding-bottom: 30px;
    padding-top: 20px;
}

input{
    width: 80%;
}
.bg-darkblue{
    background-color: darkblue;
    color: white;
 
}

.HistoryDiv {

    margin-top: 18px;
}

.margin-Top {

    margin-top: 18px;
}
ul{
    border: 1px
     solid darkblue;
        border-radius: 10px;
        padding: 30px;}

.card{
    background-color: darkblue;
    color: white;
    margin:  5px;
}
.margin{margin:10px;}
.hidden{display: none;}


/*************** CSS of Uv Index*******************/


.favorable{ 

    background-color: green;
    color: white;
    width: 35%;


}


.moderate{

    background-color: yellow;
    color: purple;
    width: 35%;

}


.severe{

    background-color: red;
    color: white;
    width: 35%;

}

.Message404{

    color: red;
    font-size: 40px;


}